<h2 class="font-weight-bold">The Speed to Become Trending Youtube Videos</h2>
<div class="row">
  <p class="col-md-10 mb-0">The bar chart below shows the <b>average time in days</b> of a Youtube video to become trending within each category of each country. Most videos prevail within <b>5 days</b>.</p>
  <p class="col-md-10 mb-0">These country names are abbreviations, and CA, DE, FR, GB, IN, JP, KR, MX and US represent Canada, Germany, France, Great Britain, India, Japan, South Korea, Mexico and United States respectively.</p>
  <p class="col-md-8 mb-0">The top left <b>filters</b> help select the subset of results.</p>
  <p class="col-md-8 mb-0"><b>Drag</b> the bar chart horizontally to view more results.</p>
  <div class='tableauPlaceholder col-md-12' id='viz1575412802619' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ba&#47;barchart1_15749850958260&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='barchart1_15749850958260&#47;Sheet1' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='no' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ba&#47;barchart1_15749850958260&#47;Sheet1&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='filter' value='publish=yes' /></object>
    <div style="position:relative;left:200px;top:100px;width:400px;height:50px">
    </div>
  </div>
</div>
