<h2 class="font-weight-bold">The Best Time to Publish a Video</h2>
<div class="row">
  <p class="col-10 mb-0">The lollipop chart below depicts the best time(in days and hours) to publish a Youtube vidoe to make it more likely to be a trend.</p>
  <p class="col-12 mb-0">The time can be evaluated by <b>weekdays or hours</b> and the chart can be sorted by <b>time</b> or by the descending order of <b>value</b>.</p>
</div>
<app-lolli></app-lolli>
<h2 class="font-weight-bold mt-5">Relationship Between Publish Weekday and Trending Speed</h2>
<div class="row">
  <p class="col-md-10 mb-0">The line chart below shows how <b>average time in days</b> of a Youtube video to become trending affected by the publish day in weekdays.</p>
  <p class="col-md-10 mb-0">Click each country button to see the line chart of that country.</p>
  <p class="col-md-10 mb-0">Click all countries button to see the overall result of 9 countries.</p>
</div>
<app-linechart></app-linechart>
