<div class="row">
  <div class="col-md-7">
    <span class="font-weight-bold d-inline mr-1">Top 5 popular categories:</span>
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" id="c1" class="btn btn-warning">Entertainment</button>
      <button type="button" id="c2" class="btn btn-warning border-left">People & Blogs</button>
      <button type="button" id="c3" class="btn btn-warning border-left">Music</button>
      <button type="button" id="c4" class="btn btn-warning border-left">News & Politics</button>
      <button type="button" id="c5" class="btn btn-warning border-left">Comedy</button>
    </div>
  </div>
  <div class="col-md-3">
    <span class="font-weight-bold d-inline mr-1">Reset:</span>
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" id="re" class="btn btn-success">Reset</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7 pr-0 pl-0 mt-4">
    <svg id="cho"></svg>
  </div>
  <div class="col-md-5 mt-4 pl-0">
    <div class="row mytitle"></div>
    <div class="row donut pr-2"></div>
  </div>
</div>
