<div class="row">
  <div class="col-md-3 mb-3">
    <span class="font-weight-bold d-inline mr-1">Evaluate By:</span>
    <div class="btn-group btn-group-sm evl" role="group">
      <button type="button" class="evl-wd btn btn-warning">Weekday</button>
      <button type="button" class="evl-hr btn btn-warning border-left">Hour</button>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <span class="font-weight-bold d-inline mr-1">Sort By:</span>
    <div class="btn-group btn-group-sm order" role="group">
      <button type="button" class="ord-t btn btn-info">Time</button>
      <button type="button" class="ord-v btn btn-info border-left">Descending Value</button>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <span class="font-weight-bold d-inline mr-1">Reset:</span>
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="reset btn btn-success">Reset</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9 pl-4 mt-4">
    <svg class="lollichart"></svg>
  </div>
</div>

