<div class="row mt-2">
  <div class="col-md-4">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input myck" id="myck0" [checked]="isCk">
      <label class="custom-control-label" for="myck0">Exclude the Music category</label>
    </div>
  </div>
   <div class="col-md-4">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input myck" id="myck1" [checked]="isCk1">
      <label class="custom-control-label" for="myck1">Exclude the Entertainment category</label>
    </div>
  </div>
</div>
<svg class="bubblechart"></svg>
