<h2 class="font-weight-bold">Category Temperature Among 9 Countries</h2>
<div class="row">
  <p class="col-md-10 mb-0">The world map shows the worldwide top 5 popular <b>categories’ temperature</b> in 9 countries, where temperature is the popularity extent of 5 categories in 9 countries.</p>
  <p class="col-md-8 mb-0">The donut charts show the distribution of top 5 categories in 9 countries.</p>
  <!--   <p class="col-md-8 mb-0">Clicks on the category buttons, it would present the different temperature on the world map with shades of color.</p> -->
  <p class="col-md-8 mb-0">Click on <b>each country in the map</b> to see the distribution of top 5 categories of that country depicted as donut chart.</p>
  <p class="col-12 mb-0">Click the <b>reset</b> button to show the initial state.</p>
</div>
<app-mapdonut></app-mapdonut>
