<h2 class="font-weight-bold">Basic Attributes Among Countries and Categories</h2>
<div class="row">
  <p class="col-md-10 mb-0">The treemap shows how the basic attributes of Youtube videos <b>(views, likes, dislikes and comment count)</b> distribute in each country and each category.</p>
<!--   <p class="col-md-10 mb-0">Select one attribute in the <b>dropdown</b> to see the treemap of that attribute.</p>
  <p class="col-md-8 mb-0">Hoover on each category to see the datum.</p> -->
</div>
<app-treemap></app-treemap>
<h2 class="font-weight-bold">Vidoe Views According to Their Likes and Dislikes</h2>
<div class="row">
  <p class="col-md-10 mb-0">The bubble chart shows the views of each vidoe and their likes and dislikes.</p>
</div>
<div class="row">
  <div class="col-md-10 mb-0">
<app-bubble></app-bubble></div>
</div>
