<h2 class="font-weight-bold">Basic Attributes Among Countries and Categories</h2>
<div class="row">
  <p class="col-md-10 mb-0">The treemap shows how the basic attributes of Youtube videos <b>(views, likes, dislikes and comment count)</b> distribute in each country and each category.</p>
<!--   <p class="col-md-10 mb-0">Select one attribute in the <b>dropdown</b> to see the treemap of that attribute.</p>
  <p class="col-md-8 mb-0">Hoover on each category to see the datum.</p> -->
</div>
<app-treemap></app-treemap>
<h2 class="font-weight-bold mt-4">Relationships Among Video's Views, Likes and Dislikes</h2>
<div class="row">
  <p class="col-md-10 mb-0">The bubble chart shows the views of each video and their likes and dislikes. The radius of each bubble is propotional to its number of views.</p>
  <p class="col-md-10 mb-0">Can check or uncheck the two <b>checkboxes</b> below to exclude or include the two categories.</p>
  <p class="col-md-10 mb-0">Hoover on each <b>bubble</b> to see the detail datum.</p>
</div>
<div class="row">
  <div class="col-md-10 mb-0">
<app-bubble></app-bubble></div>
</div>
