<div class="row">
  <div class="col-md-2 mb-3">
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-warning">All Countries</button>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <span class="font-weight-bold d-inline mr-1">One Country:</span>
    <div class="btn-group btn-group-sm cty" role="group">
      <button type="button" class="btn btn-info">USA</button>
      <button type="button" class="btn btn-info border-left">CAN</button>
      <button type="button" class="btn btn-info border-left">MEX</button>
      <button type="button" class="btn btn-info border-left">GBR</button>
      <button type="button" class="btn btn-info border-left">DEU</button>
      <button type="button" class="btn btn-info border-left">FRA</button>
      <button type="button" class="btn btn-info border-left">KOR</button>
      <button type="button" class="btn btn-info border-left">JPN</button>
      <button type="button" class="btn btn-info border-left">IND</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9 pl-4 mt-4">
    <svg class="linechart"></svg>
  </div>
</div>
