/* Application-wide Styles */
* { font-family: "Trade Gothic LT Std", "Avenir Next Condensed",sans serif; }
li { list-style: none; }
header { color: white; }
.navbar { transition: background-color 500ms ease-in; }
.navbar.actived { background-color: #FE5756; }
.navbar.actived .navbar-brand svg { fill: white; }
.navbar-brand { padding: 0.5rem 1rem }
.navbar-brand svg { width: 1.8rem; height: 2.4rem; fill: #FE5756; }
.banner { margin: 0 auto; background-image: url("./assets/banner.png"); width: 100%; background-size: cover; background-attachment: scroll; }
.banner h1 { position: relative; padding: 26rem 1rem 6.2rem 1rem; text-align: center; margin: 0; text-transform: uppercase; }
.banner h1:after { content: ''; position: absolute; bottom: 6rem; left: 20%; background: white; width: 60%; height: .25rem; }
footer { text-align: center; padding: .6rem; width: 100%; background: #f7f7f7; }
.axis-label { font-size: .875rem; fill: #555; font-weight: bold; text-anchor: middle }
.svg-title { font-size: 1.4rem; fill: #481218; font-weight: bold; text-anchor: middle }
svg g>path.domain { stroke-width: 1.3 }
svg .tick text { font-weight: bold; font-size: .8rem }
.count-text { font-size: .7rem; text-anchor: middle }
.tooltip-wc { position: absolute; font-size: .875rem; background-color: #fbf0f0; border: 1px solid #f5c6cb; border-radius: .3rem; padding: .5rem .75rem .2rem .75rem; z-index: 100; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
.tooltip-li { font-size: .875rem; background-color: #fbf0f0; border: 1px solid #f5c6cb; border-radius: .3rem; padding: .5rem .75rem .2rem .75rem; z-index: 100; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
.tooltip-wc p { margin-bottom: 0 }
.inside-text { text-anchor: middle; }
.mytitle div { flex: 0 0 100%; }
.mytitle p { font-size: 1.2rem; color: #481218; font-weight: bold; text-align: center; margin-bottom: .1rem }
.class_rect { fill: #fbf0f0; stroke: #f5c6cb; stroke-width: 1; }
