.alert-rose{color:#330c10;background-color:#dabebe;border-color:#f5c6cb;}
.alert-rose hr{border-top-color:#b99094;}
.reset{padding:3px 8px}
.col-lg-5{min-width: 500px}
#wordcloud{width:100%;height:490px;right:20px}
