<div class="row">
<!--   <div class="col-md-3 mt-5">
    <div class="dropdown">
      <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select One Basic Attribute
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <button class="dropdown-item" type="button">Views</button>
        <button class="dropdown-item" type="button">Likes</button>
        <button class="dropdown-item" type="button">Dislikes</button>
        <button class="dropdown-item" type="button">Comment Count</button>
      </div>
    </div>
  </div> -->
  <div class="col-md-6">
    <div class='tableauPlaceholder treemap' id='view' style='position: relative'>
      <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;treemap_view&#47;Sheet1&#47;1_rss.png' style='border: none' /></a>
      </noscript><object class='tableauViz' style='width: 100%;height: 500px'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='treemap_view&#47;Sheet1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;treemap_view&#47;Sheet1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='filter' value='publish=yes' />
      </object>
      <div style="position:relative;left:200px;top:100px;width:400px;height:50px"></div>
    </div>
  </div>
  <div class="col-md-6">
      <div class='tableauPlaceholder treemap' id='like' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;treemap_likes&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='treemap_likes&#47;Sheet1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;treemap_likes&#47;Sheet1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='filter' value='publish=yes' /></object>
      <div style="position:relative;left:200px;top:100px;width:400px;height:50px"></div>
    </div>
  </div>
  <div class="col-md-6">
      <div class='tableauPlaceholder' id='dislike' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;treemap_dislikes&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='treemap_dislikes&#47;Sheet1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;treemap_dislikes&#47;Sheet1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='filter' value='publish=yes' /></object>
      <div style="position:relative;left:200px;top:100px;width:400px;height:50px">
      </div>
    </div>
    </div>
    <div class="col-md-6">
      <div class='tableauPlaceholder treemap' id='comment' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;treemap_comment&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='treemap_comment&#47;Sheet1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;treemap_comment&#47;Sheet1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='filter' value='publish=yes' /></object>
      <div style="position:relative;left:200px;top:100px;width:400px;height:50px">
      </div>
    </div>
  </div>
</div>
